// Layout
$mobile: 376px;
$desktop: 1440px;
$tablet: 768px;
$laptop: 1020px;

// Colors
$darkBlue: hsl(209, 23%, 22%); // Dark Mode Elements
$veryDarkBlue: hsl(207, 26%, 17%); //Dark Mode Background
$veryDarkBlue: hsl(200, 15%, 8%); // Light Mode Text
$darkGray: hsl(0, 0%, 52%); // Light Mode Input
$veryLightGray: hsl(0, 0%, 98%); // Light Mode Background
$white: hsl(0, 0%, 100%); // Dark Mode Text & Light Mode Elements

// Typography
$f-home: 14px;
$d-detail: 16px;

// Fonts
$font: 'Nunito Sans', sans-serif;
$sm: 300;
$md: 600;
$lg: 800;
